@import '../../assets/scss/variables.scss';
@import '../../assets/scss/breakpoints.scss';

.footer{
    width:100%;
    height:150px;
    padding:30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items:center;
    color:$muted-color;
    small{
        color:$light-color;
        font-size:.8em;
    }
}
@include bp-tablet{
    .footer{
        height:200px;
    }
}